<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Hey Xiaoyan, this is for you</title>
    <meta name="description" content="Haha">
    <meta name="author" content="Yutao Zhang">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script type="text/javascript" src="/static/js/flipcounter.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/static/js/sna.json"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/counter.css" />
    <link rel="stylesheet" href="/static/css/reveal.min.css">
    <link rel="stylesheet" href="/static/css/theme/default.css" id="theme">
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/themes/vader/jquery-ui.css" />
    <link rel="stylesheet" href="/static/css/zenburn.css">
    <script>
            document.write( '<link rel="stylesheet" href="/static/css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );</script>

    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
    <style>

        .node {
          stroke: #fff;
          stroke-width: 1.5px;
        }

        .link {
          stroke: #999;
          stroke-opacity: .6;
        }

        </style>
</head>

<body onload="initDemos();">

    <div class="reveal">
        <div class="slides">
            <section>
                <h1>
                    Hey, <font face="League Gothic">小衍</font>
                    ！
                </h1>
            </section>
            <section>
                <section data-state="flip366">
                    <h2 style="text-align:left">
                        <div id="flip366" class="flip-counter"></div>
                        <span>天前</span>
                    </h2>
                </section>
                <section>
                    <h2>我们在清大图书馆门口</h2>
                    <h1>
                        第 <font color="#cc0000">1</font>
                        次
                    </h1>
                    <h2>
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;相见
                    </h2>
                </section>
            </section>
            <section>
                <section>
                    <h2>其实，在此之前</h2>
                </section>
                <section data-state="flip100">
                    <h2>我已经偷偷的认识你</h2>
                    <h2 style="text-align:left">
                        <div id="flip100" class="flip-counter" style="margin-left: 600px;"></div>
                        天了
                    </h2>
                </section>
            </section>
            <section>
                <section>
                    <h2>那时</h2>
                </section>
                <section>
                    <h2>
                        <span>我对你的了解</span>
                    </h2>
                </section>
                <section>
                    <h2>
                        <span>还只有人人上的那张头像</span>
                        <br></h2>
                    <div>
                        <img src="/static/img/xiaoyan.jpg"></div>
                </section>
                <section>
                    <h2>
                        <span>以及</span>
                    </h2>
                </section>
                <section>
                    <h2>
                        <span>你中学时日记中稚嫩的文笔</span>
                        <br></h2>
                    <div>
                        <iframe src="http://9.douban.com/subject/9051063/" width="1000px" height="500px" scrolling="no" style="max-width:1600px">&amp;amp;amp;nbsp;</iframe>
                    </div>
                </section>
                <section>
                    <h2>以及</h2>
                </section>
                <section>
                    <h3>
                        <span>你是纳什、纳达尔和小栗旬的脑残粉</span>
                    </h3>
                    <div>
                        <img src="http://i.imgur.com/H8tfT8M.png">
                        <img src="http://i.imgur.com/9tlIzgK.png">
                        <img src="http://i.imgur.com/70qtsJz.png"></div>
                </section>
                <section>
                    <h2>以及</h2>
                </section>
                <section>
                    <h2>神秘的法国帅哥导演</h2>
                    <div>
                        <img src="http://25.media.tumblr.com/57745a1752a075740bfccfc7f8e5bc50/tumblr_mi6fjv719n1rxhxa1o1_500.gif">
                        <br></div>
                </section>
                <section>
                    <h2>以及</h2>
                </section>
                <section>
                    <h2>。。。</h2>
                </section>
            </section>
            <section>
                <section>
                    <h2>好吧</h2>
                    <div>其实我对你了解的还是挺多的。。。</div>
                </section>
                <section data-state="force">
                    <h2>谁叫我的研究领域是伟大的</h2>
                    <h3>
                        <font color="#cc0000" face="comic sans ms"><i><u>DATA MINING & SOCIAL NETWORK ANALYSIS</u></i></font> 
                    </h3>
                    <script type="text/javascript">
   
                    </script>
                    <div id="sna" style="width: 1000px;height: 500px;"></div>
                </section>
                <section>
                    <h2>这是职业病</h2>
                    <h1>
                        <span style="letter-spacing: -0.08em;">&nbsp; &nbsp;得治！</span>
                    </h1>
                </section>
            </section>
            <section>
                <section data-state="flip300">
                    <h2 style="text-align:left">
                        <div id="flip300" class="flip-counter"></div>
                        <span>天前</span>
                    </h2>
                </section>
                <section>
                    <h2>你<font color="#cc0000">不幸</font>成为了</h2>
                    <h1>
                        <span>第</span>
                        <span style="orphans: 2;widows: 2;letter-spacing: -0.02em;">
                            <font color="#cc0000">1</font>
                        </span>
                        <span>个</span>
                    </h1>
                    <h2>
                        <span>坐在我单车后座的女生</span>
                    </h2>
                </section>
                <section>
                    <h2>享受了一次免费的</h2>
                    <h2>
                        <span style="orphans: 2;widows: 2;letter-spacing: -0.02em;">
                            <font color="#cc0000">roller</font>
                        </span>
                        <span>&nbsp;</span>
                    </h2>
                    <h2>
                        <span style="orphans: 2;widows: 2;letter-spacing: -0.02em;">
                            <font color="#330099">coaster</font>
                        </span>
                        <span>&nbsp;</span>
                    </h2>
                    <h2>
                        <span style="orphans: 2;widows: 2;letter-spacing: -0.02em;">
                            <font color="#000033">ride</font>
                        </span>
                    </h2>
                    <div>
                        <img src="/static/img/RollerCoaster.gif">
                        <br>
                    </div>
                </section>
            </section>
            <section>
                <section>
                    <h2>
                        <span>那时</span>
                    </h2>
                </section>
                <section>
                    <h2>
                        我们互称
                        <font color="#00cc00">友邻</font>
                    </h2>
                </section>
            </section>
            <section>
                <section data-state="flip290">
                    <h2 style="text-align:left">
                        <div id="flip290" class="flip-counter"></div>
                        <span>天前</span>
                    </h2>
                </section>
                <section>
                    <h2>图书馆四楼靠窗的位置</h2>
                    <h2><font color="#cc0000">你懂的！</font></h2>
                </section>
                <section>
                    <h2>
                        <span>每次考试前和你握手，</span>
                        <span>求保佑</span>
                        <br>
                    </h2>
                    <h2>
                        <span>似乎成为了我的心灵寄托</span>
                        <br>
                    </h2>
                </section>
                <section>
                    <h2>
                        <span>
                            每当和你手指触碰到那一瞬间
                            <br></span>
                        <span>似乎总能感觉到一种魔力</span>
                    </h2>
                </section>
                <section>
                    <h2>那时</h2>
                </section>
                <section>
                    <h2>
                        你叫我
                        <font color="#000099">学霸</font>
                    </h2>
                    <h2>
                        我叫你
                        <font color="#ff0099">考神</font>
                    </h2>
                </section> 
            </section>
            <section>
                <section data-state="flip280">
                    <h2 style="text-align:left">
                        <div id="flip280" class="flip-counter"></div>
                        <span>天前</span>
                    </h2>
                </section>
                <section>
                    <h2>
                        <span>我<font color="#cc0000">阴差阳错</font>地在最后时刻</span>
                    </h2>
                    <h2>秒杀了那张<font color="#cc0000">林宥嘉</font>演唱会门票~</h2>
                </section>
                <section>
                    <h2>偷偷地告诉你</h2>
                </section>
                <section>
                    <h2>其实那时Yoga对我的魅力</h2>
                    <h2>显然不值<font color="#cc0000">NT3600</font>╮(╯▽╰)╭</h2>
                </section>
                <section>
                    <h2>我的动机纯粹是因为看见</h2>
                    <h2>同行人员中有你的名字╮(╯_╰)╭</h2>
                </section>
                <section>
                    <h2>
                        <span>当他唱到<font color="#cc0000">“你是我的衍”</font>时</span>
                    </h2>
                    <h2>
                        <span>我偷偷地看了看你</span>
                    </h2>
                </section>
                <section>
                    <h2>心想会不会有一天</h2>
                    <h2>我也能对你说出这句话</h2>
                </section>
            </section>
            <section>
                <section data-state="flip366-1">
                    <h2>
                        <h2 style="text-align:left">
                            <div id="flip366-1" class="flip-counter"></div>
                        <span>天以来</span>
                    </h2>
                </section>
                <section data-state="alert">
                    <h2>我越来越坚信</h2>
                </section>
                <section data-state="soothe">
                    <h2>如果人生</h2>
                    <h2>是一个不断走下坡路的过程</h2>
                </section>
                <section data-state="soothe">
                    <h2>那么你一定是</h2>
                    <h2>陪在我身边匀速下落最佳人选</h2>
                </section>
                <section  data-state="blackout">
                    <h2>。。。</h2>
                </section>
                <section>
                    <h2>好吧</h2>
                    <div>
                        这是<font color="#cc0000">王小贱</font>向<font color="#cc0000">鲍鲸鲸</font>求婚时说的
                    </div>
                </section>
                <section>
                    <h2>作为文艺青年</h2>
                    <h2><font color="#cc0000">拾人牙慧</font>这种行为</h2>
                    <h2>是要<font color="#cc0000">坚决批判</font>的！！！</h2>
                </section>
                <section>
                    <h2>但是这句话真的很文艺</h2>
                    <h1><font color="#cc0000">有木有！！！</font></h1>
                </section>
            </section>
            <section>
                <section>
                    <h1><font color="#cc0000">ANYWAY</font></h1>
                </section>
                <section>
                    <h2>我只是</h2>
                </section>
                <section>
                    <h2>想告诉你</h2>
                    <h2>一个<font color="#cc0000">惊天大秘密</font></h2>
                </section>
                <section>
                    <h2>其实</h2>
                </section>
                <section>
                    <h1>戴上耳机！</h1>
                    <h1>把音量开大！</h1>
                    <h1>
                        然后
                        <a href="http://nyan.capricc.io/http://nyan.capricc.io/caigu" color="#cc0000">点我</a>
                        ！
                    </h1>
                </section>
            </section>
        </div>
    </div>

    <script src="/static/js/head.min.js"></script>
    <script src="/static/js/reveal.min.js"></script>

    <script>
        function getFlip(conf) {
            var obj = {
                flip: new flipCounter(conf[0], {
                    inc: 20,
                    pacd: 100
                }),
                init: function() {
                    document.addEventListener(conf[0], this.activateEvent.bind(this), false);
                },
                activateEvent: function() {
                    console.log(conf[0]);
                    this.reset();
                },
                reset: function() {
                    this.flip.setValue(conf[1]);
                    this.flip.setIncrement(conf[2]);
                    this.flip.setPace(conf[3]);
                    this.flip.incrementTo(conf[4]);
                },
            }
            return obj;
        }
        var forceDiagram = {
            init: function() {
                document.addEventListener('force', this.activateEvent.bind(this), false);
            },
            activateEvent: function() {
                console.log('force event');
                this.reset();
            },
            reset: function() {
                $("#sna").empty();
                var width = 960,
                    height = 500;
                var color = d3.scale.category20();
                var force = d3.layout.force()
                    .charge(-120)
                    .linkDistance(30)
                    .size([width, height]);
                var svg = d3.select("#sna").append("svg")
                    .attr("width", width)
                    .attr("height", height);
                force.nodes(graph.nodes)
                    .links(graph.links)
                    .start();
                var link = svg.selectAll(".link")
                    .data(graph.links)
                    .enter().append("line")
                    .attr("class", "link")
                    .style("stroke-width", function(d) {
                    return Math.sqrt(d.value);
                });
                var node = svg.selectAll(".node")
                    .data(graph.nodes)
                    .enter().append("circle")
                    .attr("class", "node")
                    .attr("r", 5)
                    .style("fill", function(d) {
                    return color(d.group);
                }).call(force.drag);
                node.append("title")
                    .text(function(d) {
                    return d.name;
                });
                force.on("tick", function() {
                    link.attr("x1", function(d) {
                        return d.source.x;
                    }).attr("y1", function(d) {
                        return d.source.y;
                    }).attr("x2", function(d) {
                        return d.target.x;
                    }).attr("y2", function(d) {
                        return d.target.y;
                    });
                    node.attr("cx", function(d) {
                        return d.x;
                    }).attr("cy", function(d) {
                        return d.y;
                    });
                });
            }
        }

        flips = [
            ["flip366", 100, 30, 200, 366],
            ["flip100", 1, 10, 200, 100],
            ["flip300", 100, 30, 200, 300],
            ["flip280", 100, 30, 200, 280],
            ["flip290", 100, 30, 200, 290],
            ["flip366-1", 100, 30, 200, 366]
        ];

        function initDemos() {
            flips.forEach(function(e) {
                obj = getFlip(e);
                obj.init();
            })
            forceDiagram.init();
        }

        // Full list of configuration options available here:
        // https://github.com/hakimel/reveal.js#configuration
        Reveal.initialize({
            controls: true,
            progress: true,
            history: true,
            center: true,
            theme: Reveal.getQueryHash().theme || 'sky', // available themes are in /css/theme
            transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

            // Optional libraries used to extend on reveal.js
            dependencies: [{
                src: '/static/js/classList.js',
                condition: function() {
                    return !document.body.classList;
                }
            }, {
                src: '/static/plugin/markdown/showdown.js',
                condition: function() {
                    return !!document.querySelector('[data-markdown]');
                }
            }, {
                src: '/static/plugin/markdown/markdown.js',
                condition: function() {
                    return !!document.querySelector('[data-markdown]');
                }
            }, {
                src: '/static/plugin/highlight/highlight.js',
                async: true,
                callback: function() {
                    hljs.initHighlightingOnLoad();
                }
            }, {
                src: '/static/plugin/zoom-js/zoom.js',
                async: true,
                condition: function() {
                    return !!document.body.classList;
                }
            }, {
                src: '/static/plugin/notes/notes.js',
                async: true,
                condition: function() {
                    return !!document.body.classList;
                }
            }
            // { src: 'plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
            ]
        });
    </script>

</body>
</html>